.footer {
  width: 100%;
  height: 30px;
  padding: 0 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--second-color);
  border-top: 2px solid var(--third-color);

  @media (max-width: 640px) {
    height: 60px;
    flex-direction: column;
  }
}
