@keyframes blinker {
  50% { 
    opacity: 40%;
  }
}

.gallery {
  background-color: var(--main-color);

  &__heading {
    font-size: 1.8rem;
    text-align: center;
    color: var(--font-color);
    animation: blinker 5s linear infinite;
  }
}
