.header {
  width: 100%;
  height: 30px;
  padding: 0 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--second-color);
  border-bottom: 2px solid var(--third-color);
  color: var(--font-color);

  &__section {
    display: flex;
    gap: 10px;
  }

  @media (max-width: 1080px) {
    &__title {
      font-size: 1.2rem;
    }
  }

  @media (max-width: 640px) {
    &__title {
      font-size: 1.4rem;
    }
  }
}
