.image {
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.02);
    border-radius: 5px;
  }
/* 
  &--big {
    height: 600px;
  }

  &--small {
    height: 190px;
  }

  &--equal {
    height: 193px;
  } */
}
