.item {
  transition: box-shadow 0.2s;

  &:hover {
    cursor: zoom-in;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
  }

  &__1 {
    background: center / cover no-repeat url('http://placeimg.com/1000/600/any.png');
    grid-area: item1;
  }
 
  &__2 {
    background: center / cover no-repeat url('http://placeimg.com/1000/600/any.png');
    grid-area: item2;
  }

  &__3 {
    background: center / cover no-repeat url('http://placeimg.com/1000/600/any.png');
    grid-area: item3;
  }

  &__4 {
    background: center / cover no-repeat url('http://placeimg.com/1000/600/any.png');
    grid-area: item4;
  }

  &__5 {
    background: center / cover no-repeat url('http://placeimg.com/1000/600/any.png');
    grid-area: item5;
  }

  &__6 {
    background: center / cover no-repeat url('http://placeimg.com/1000/600/any.png');
    grid-area: item6;
  }

  &__7 {
    background: center / cover no-repeat url('http://placeimg.com/1000/600/any.png');
    grid-area: item7;
  }

  &__8 {
    background: center / cover no-repeat url('http://placeimg.com/1000/600/any.png');
    grid-area: item8;
  }

  &__9 {
    background: center / cover no-repeat url('http://placeimg.com/1000/600/any.png');
    grid-area: item9;
  }

  &__10 {
    background: center / cover no-repeat url('http://placeimg.com/1000/600/any.png');
    grid-area: item10;
  }

  &__11 {
    background: center / cover no-repeat url('http://placeimg.com/1000/600/any.png');
    grid-area: item11;
  }

  &__12 {
    background: center / cover no-repeat url('http://placeimg.com/1000/600/any.png');
    grid-area: item12;
  }
}
